.file {
  padding: 8;
  border-bottom: 1px solid #dddddd;
}

.section {
  margin-bottom: 5px;
}

.ui-selected {
  background: #007fff;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

#mturk-top-banner-drop-down-content {
  position: absolute;
  width: 99%;
  bottom: 0px;
  top: unset;
  left: 0;
  background-color: #eee;
  z-index: 100;
  padding: 10px 10px 10px 10px;
  border-left: 1px orange solid;
  border-right: 1px orange solid;
  border-top: 1px orange solid;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#add_remove_cancel {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

#add_remove_cancel p {
  font-weight: bold;
  margin-bottom: 10px;
}

#add_remove_cancel ul {
  list-style-type: none;
  padding: 0;
}

#add_remove_cancel li {
  margin-bottom: 5px;
}

#add_remove_cancel .convert-text {
  font-weight: bold;
  color: #4caf50;
}

#add_remove_cancel strong {
  font-weight: bold;
  color: #ff0000;
}

#adv-inheritance-add-button {
  background-color: #4caf50;
  /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#adv-inheritance-cancel-button,
#adv-inheritance-remove-button {
  background-color: #f44336;
  /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#adv-inheritance-cancel-button {
  background-color: #e7e7e7;
  /* Gray */
  color: black;
}

#perm_add_user_line {
  margin-top: 10px;
  margin-bottom: 20px;
}

#perm_add_user_button {
  color: white;
  background: rgb(57, 211, 100);
}

#perm_remove_user {
  color: white;
  background: rgb(218, 52, 52);
}

#perm_right_column {
  margin-left: 20px;
  row-gap: 10px;
}

#permdialog_effective_permission_panel table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}
#permdialog_effective_permission_panel td {
  padding: 0 5px;
}
#permdialog_effective_permission_panel .effectivecheckcell {
  position: relative;
  padding-left: 10px;
}

#permdialog_effective_panel_title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
#advtab_title_effective {
  display: none;
}

#permdialog_update_permission_explantion_text {
  max-width: 400px;
}
#adv_perm_edit {
  margin-bottom: 20px;
}
.highlight {
  color: red;
  font-weight: bold;
}
.inheritable-hint{
  margin: 15px 0;
}